@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.layoutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.moive {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: colors.$BASICTEXT;
  background-image: linear-gradient(
    to right bottom,
    #0086c1,
    #328cc9,
    #4a92d0,
    #5e99d7,
    #709fde,
    #6daae7,
    #6bb4f0,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

main {
  height: 65%;
}
