@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.closeModal {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: levels.$MODAL;
  background-color: colors.$MODALBACKCOLOR;

  section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
    background-color: colors.$GRAYE;
  }

  header {
    button {
      padding: 6px 12px;
      font-size: 13px;
      color: colors.$WHITE;
      background-color: #6c757d;
      border-radius: 5px;
    }
  }
}
