@use '/src/styles/constants/colors';

.mainContainer {
  width: 100vw;
  height: 75%;
  padding: 6vw 6vw 0;

  h1 {
    font-size: 25px;
    font-weight: 800;
  }

  .mainWapper {
    height: 95%;
    padding: 1.5vw;
    overflow-y: scroll;
    border-radius: 3px;
    border-image: radial-gradient(to right, yellow 50);
  }
}
