@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.searchbarContainer {
  position: fixed;
  top: 8%;
  z-index: levels.$SEARCH_BAR;
  width: 86vw;
  height: 52px;
  padding: 10px;
  margin-top: 4vh;
  background: colors.$BORDERCOLOR;
  border: solid 1px colors.$BASICTEXT;
  border-radius: 4px;

  input {
    width: 65vw;
    color: colors.$BASICTEXT;
  }

  form {
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  button {
    color: colors.$BASICTEXT;
  }
}
