@use '/src/styles/constants/colors';

.searchbarContainer {
  position: fixed;
  top: 10%;
  width: 85vw;
  height: 52px;
  padding: 10px;
  margin: 2.5vw;
  background: colors.$NAV_COLOR;
  border: solid 1px colors.$BASICTEXT;
  border-radius: 25px;

  input {
    width: 80vw;
    color: colors.$BASICTEXT;
  }

  form {
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  button {
    color: colors.$BASICTEXT;
  }
}
