@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.boxContainer {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 250px;
  padding: 1vw;
  margin-top: 10px;
  background-color: colors.$BORDERCOLOR;
  border-radius: 10px;

  .boxWrapper {
    display: flex;
    width: 100%;

    .boxContent {
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-evenly;
      margin: 1vw;

      @include responsive.between(ML, QHD) {
        flex: 3;
      }

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          margin-right: 1vw;
        }
      }
    }

    .boxBookmark {
      flex: 1;
      text-align: end;
    }
  }

  img {
    flex: 2;
    width: 30%;
    min-height: 70px;
    border-radius: 10px;

    @include responsive.between(M, ML) {
      max-width: 130px;
      height: 80px;
    }
    @include responsive.between(ML, SD) {
      width: 250px;
      max-width: 250px;
      height: 120px;
    }
    @include responsive.between(SD, MD) {
      width: 300px;
      height: 150px;
    }
  }
}
