@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.boxContainer {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 250px;
  max-height: 350px;
  padding: 1vw;
  margin-top: 10px;
  background-color: colors.$BORDERCOLOR;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 15%) 2.4px 2.4px 3.2px;

  .boxWrapper {
    display: flex;
    width: 100%;

    .boxContent {
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
      padding: 2vw;
      margin: 1vw;

      @include responsive.between(ML, QHD) {
        flex: 3;
      }

      h2 {
        font-weight: 900;
        color: colors.$TITLE;
      }

      h3 {
        font-weight: 400;
        color: colors.$SUBTITE;
      }

      ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vw;

        li {
          padding: 6px;
          margin-right: 1vw;
          border-radius: 5px;
          box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
        }
      }
    }

    .boxBookmark {
      flex: 1;
      text-align: end;
    }
  }

  img {
    flex: 2;
    width: 30%;
    min-height: 70px;
    border-radius: 10px;

    @include responsive.between(M, ML) {
      max-width: 80px;
      height: 120px;
    }
    @include responsive.between(ML, SD) {
      width: 250px;
      max-width: 250px;
      max-height: 260px;
    }
    @include responsive.between(SD, MD) {
      max-width: 250px;
      max-height: 260px;
    }
  }

  @include responsive.between(M, ML) {
    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }

    li {
      font-size: 8px;
    }
  }
  @include responsive.between(ML, SD) {
    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 24px;
    }

    li {
      font-size: 16px;
    }

    .bookmarkButton {
      font-size: 24px;
    }
  }
  @include responsive.between(SD, SHD) {
    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 24px;
    }

    li {
      font-size: 20px;
    }

    .bookmarkButton {
      font-size: 32px;
    }
  }
  @include responsive.between(SHD, QHD) {
    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 36px;
    }

    li {
      font-size: 32px;
    }

    .bookmarkButton {
      font-size: 35px;
    }
  }
}
