@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.boxContainer {
  position: relative;
  display: flex;
  width: 80vw;
  min-width: 250px;
  padding: 1vw;
  margin-top: 10px;
  background-color: colors.$BORDERCOLOR;
  border-radius: 10px;

  .boxWrapper {
    display: flex;
    padding: 1vw;
  }

  .content {
    flex: 1;
    color: colors.$TEXT;

    h1 {
      font-size: 6vw;

      .bookmarkButton {
        font-size: 6vw;
      }
    }
  }

  img {
    flex: 1;
    width: 30%;
    min-width: 130px;
    min-height: 70px;
    max-width: 430px;
    border-radius: 10px;

    @include responsive.only(M) {
      width: 142px;
    }
  }
}
